<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015006387365-7ak1oa8lv993587krt280s0masn9h7rs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015006387365-7ak1oa8lv993587krt280s0masn9h7rs</string>
	<key>API_KEY</key>
	<string>AIzaSyDNjqjux-UEnSaKszuiGW2tefBf6SdPKfo</string>
	<key>GCM_SENDER_ID</key>
	<string>1015006387365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ilya.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-be5b0</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-be5b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015006387365:ios:e6ab85ad4f405d8df0c14c</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-be5b0.firebaseio.com</string>
</dict>
</plist>